<div class="container d-flex align-items-center justify-content-center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder="Username"
        />
        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          ><span *ngIf="email?.errors?.['required']">Champ requis</span>
          <span *ngIf="email?.errors?.['email']"
            >Veuillez saisir un mail valid</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          type="password"
          matInput
          placeholder="Pass"
        />
        <mat-error
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          ><span *ngIf="password?.errors?.['required']">Champ requis</span>
          <span *ngIf="password?.errors?.['minlength']"
            >Veuillez saisir au moins 6 caractères</span
          >
        </mat-error>
      </mat-form-field>

      <button
        class="full-width"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="!loginForm.valid"
      >
        Connexion
      </button>
    </form>
  </mat-card>
</div>
