<div class="container">
  <div class="row">
    <div class="flex-header">
      <div>
        <h1 class="text-primary">Utilisateurs</h1>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="addOrEditCommand()">
          <mat-icon>add</mat-icon>Ajouter une commande
        </button>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.createdAt | date : "MM/dd/yy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
          <td mat-cell *matCellDef="let row">{{ row.siteId }}</td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Produit</th>
          <td mat-cell *matCellDef="let row">{{ row.Product?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
          <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
          <td mat-cell *matCellDef="let row">{{ row.designation }}</td>
        </ng-container>

        <ng-container matColumnDef="operator">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Operateur</th>
          <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            class="th-actions"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let row">
            <div>
              <button (click)="addOrEditCommand(row)" mat-button color="accent">
                Edit
              </button>
              <button (click)="deleteCommand(row)" mat-button color="warn">
                Delete
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
